@model EditCourseViewModel
@{
    ViewData["Title"] = "Home page";
}
<div class="form-block">
    <h2>Курс</h2>
<form asp-action="SaveCourse" method="post">
    <label for="courseName">Имя курса:</label>
    <input type="text" id="courseName" name="courseName" value="@Model.Course.Name" required><br>

    <label for="authorName">Имя автора:</label>
    <input type="text" id="authorName" name="authorName" value="@Model.Course.AutorName" required><br>

    <label for="duration">Продолжительность в неделях:</label>
    <input type="number" id="duration" name="duration" value="@Model.Course.Duration" min=0 oninput="validity.valid||(value='')" required><br>

    <label for="isCoherent">Последовательный курс:</label>
    <input type="checkbox" id="isCoherent" name="isCoherent" @(Model.Course.IsCoherent ? "checked" : "")><br>

    <label for="isPublic">Открытый курс:</label>
    <input type="checkbox" id="isPublic" name="isPublic" @(Model.Course.IsPublic ? "checked" : "")><br>


    <head>
        <meta charset="utf-8">
        <title>CKEditor 5 - Classic editor</title>
        <script src="https://cdn.ckeditor.com/ckeditor5/41.2.0/classic/ckeditor.js"></script>
    </head>
    <body>
        <h1>Classic editor</h1>
            <textarea name="content" id="descEditor">
            @Model.Course.Description
        </textarea>
        <script>
            ClassicEditor
                .create(document.querySelector('#descEditor'))
                .catch(error => {
                    console.error(error);
                });
        </script>
    </body>
    <p><input type="submit" value="Submit"></p>
</form>
</div>
<div class="form-block">
    <h2>Список секторов</h2>
<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Номер</th>
            <th>Продолжительность</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Course.Sections != null)
        {
            Model.Course.Sections.Sort((emp1, emp2) => emp1.Number.CompareTo(emp2.Number));
            @foreach (var sect in Model.Course.Sections)
            {
                <tr>
                    <td>@Html.ActionLink(sect.Name, "EditSector", "Course", new { sectorId = sect.Id })</td>
                    <td>@sect.Number</td>
                    <td>@sect.Duration</td>
                </tr>
            }
        }
    </tbody>
</table>
    @using (Html.BeginForm("CreateSector", "Course", new { courseId = Model.Course.Id }))
    {
        <input type="submit" value="Create Section" />
    }

</div>

<div class="form-block">
    <h2>Домашняя работа</h2>
    @if (@Model.Course.Homework == null)
    {
        @using (Html.BeginForm("CreateCourseHomework", "Course", new { courseId = Model.Course.Id }))
        {
            <input type="submit" value="Create HomeWork" />
        }
    }
    else
    {
    <form asp-action="AddSectorHomeWork" method="post">

        <label for="name">Имя курса:</label>
        <input type="text" id="name" name="name" value="@Model.Course.Homework.Name" required><br>

        <label for="duration">Продолжительность в неделях:</label>
            <input type="number" id="duration" name="duration" value="@Model.Course.Homework.Duration" min=0 oninput="validity.valid||(value='')" required><br>

        <head>
            <meta charset="utf-8">
            <title>CKEditor 5 - Classic editor</title>
            <script src="https://cdn.ckeditor.com/ckeditor5/41.2.0/classic/ckeditor.js"></script>
        </head>
        <body>
            <h1>Classic editor</h1>
            <textarea name="content" id="homeEditor">
                @Model.Course.Description
            </textarea>
        <script>
            ClassicEditor
                .create(document.querySelector('#homeEditor'))
                .catch(error => {
                    console.error(error);
                });
        </script>
        </body>

        <input type="file" name="upload" /><br>

        <button type="submit">Сохранить</button>
    </form>
    }
</div>

<div class="form-block">
    <h2>Приложить файлы к курса</h2>
<form asp-action="AddCourseFiles" asp-controller="Course" method="post" enctype="multipart/form-data">
    <input type="file" name="uploads" /><br>
    <input type="file" name="uploads" /><br>
    <input type="file" name="uploads" /><br>
    <input type="submit" value="Загрузить" />
</form>
</div>