@model Test

<script type='text/javascript' src="..\assets\vendor\ckeditor5\build\ckeditor.js"></script>

<div class="form-block">
    <h2>Тест</h2>
    <form asp-action="SaveTest" method="post">

        <label asp-for="Name">Имя курса:</label>
        <input type="text" id="Name" name="Name" value="@Model.Name" required><br>

        <label asp-for="Duration">Продолжительность в неделях:</label>
        <input type="number" id="Duration" name="Duration" value="@Model.Duration" min=0 oninput="validity.valid||(value='')" required><br>

        <label asp-for="Cost">Опыт получаемый за Окончание курса:</label>
        <input type="number" id="Cost" name="Cost" value="@Model.Cost" min=0 max=10000 oninput="validity.valid||(value='')" required><br>

        <label asp-for="Exp">Опыт получаемый за Окончание курса:</label>
            <input type="number" id="Exp" name="Exp" value="@Model.Exp" min=0 max=10000 oninput="validity.valid||(value='')" required><br>

        <label asp-for="AttemptsAlowed">Опыт получаемый за Окончание курса:</label>
        <input type="number" id="AttemptsAlowed" name="AttemptsAlowed" value="@Model.AttemptsAlowed" min=0 max=10000 oninput="validity.valid||(value='')" required><br>

        <head>
            <meta charset="utf-8">
            <title>CKEditor 5 - Classic editor</title>
        </head>
        <body>
            <h1>Classic editor</h1>
            <textarea asp-for="Description" name="Description" id="descEditor">
                @Model.Description
        </textarea>
            <script>
                ClassicEditor
                    .create(document.querySelector('#descEditor'))
                    .catch(error => {
                        console.error(error);
                    });
            </script>
        </body>

        <p><input type="submit" value="Submit"></p>
    </form>
</div>

<form asp-action="AddQuestion" method="post"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-loading="#loading"
      data-ajax-mode="replace"
      data-ajax-update="#results">

    <button type="submit" class="btn solid-btn" id="btnContactUs">Add Question</button>
    <span id="loading" style="display:none;"> <i class="fas fa-spinner fa-spin"></i></span>
</form>

<div id="results">
    @Html.Partial("PartialTestQuestions", Model.Questions)
</div>

@using (@Html.BeginForm("DeleteTest", "Course"))
{
    <input type="submit" name="DeleteTest" id="DeleteTest" value="Delete Test" />
}

<!-- include jquery libraries -->
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"></script>
}