@model CourseIndexViewModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Список курсов</h2>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Автор</th>
            <th>Продолжительность</th>
            <th>Дата создания</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Courses != null)
        {
            @foreach (var course in Model.Courses)
            {
                <tr>
                    <td>@Html.ActionLink(course.Name, "EditCourse", "Course", new { courseId = course.Id })</td>
                    <td>@course.Description</td>
                    <td>@course.AutorName</td>
                    <td>@course.Duration</td>
                    <td>@course.CreationDate.ToShortDateString()</td>
                </tr>
            }
        }
    </tbody>
</table>

@using (Html.BeginForm("CreateCourse", "Course", FormMethod.Post))
{
    <input type="submit" value="Create Course" />
}