@model Question


    <form asp-action="ChangeQuestion" method="post"
          data-ajax="true"
          data-ajax-method="post"
          data-ajax-url="@Url.Page("ChangeQuestion", "Course")"
          data-ajax-loading="#loading"
          data-ajax-mode="replace"
          data-ajax-update="#updateDiv">

        <!-- form controls -->
    <div id="updateDiv">
        <head>
            <meta charset="utf-8">
            <title>Вопрос номер @Model.Number</title>
            <script src="https://cdn.ckeditor.com/ckeditor5/41.2.0/classic/ckeditor.js"></script>
        </head>
        <body>
            <h1>Classic editor</h1>
            <textarea asp-for="Content" name="Content" id="ContentEditor">
                @Model.Content
        </textarea>
            <script>
                ClassicEditor
                    .create(document.querySelector('#ContentEditor'))
                    .catch(error => {
                        console.error(error);
                    });
            </script>
        </body>

        <label asp-for="Cost">Стоимость вопроса</label>
        <input type="number" id="Cost" name="Cost" value="@Model.Cost" min=0 oninput="validity.valid||(value='')" required><br>

        <label asp-for="Type">Тип вопроса:</label>
        <input type="text" id="Type" name="Type" value="@Model.Type" required><br>
    </div>

    <div id="updateAnswersDiv">
        <div id="answers-container">
            @for (int i = 0; i < Model.Answers.Count; i++)
            {
                <div class="answer-item">
                    <input asp-for="@Model.Answers[i].Content" type="text" value="@Model.Answers[i].Content" required><br>
                    <input asp-for="@Model.Answers[i].IsCorrect" type="checkbox" value="@Model.Answers[i].IsCorrect" oninput="validity.valid||(value='')" />
                </div>
            }
        </div>
    </div>

        <button type="submit" class="btn solid-btn" id="btnContactUs">Send Message</button>
        <span id="loading" style="display:none;"> <i class="fas fa-spinner fa-spin"></i></span>
    </form>

    
    <form asp-action="AddAnswer" method="post"
          data-ajax="true"
          data-ajax-method="post"
          data-ajax-url="@Url.Page("AddAnswer", "Course")"
          data-ajax-loading="#loading"
          data-ajax-mode="replace"
          data-ajax-update="#updateDiv">
    
        <button type="submit" class="btn solid-btn" id="btnAddAnswer">Добавить вариант ответа</button>
        <span id="loading" style="display:none;"> <i class="fas fa-spinner fa-spin"></i></span>
    </form>
</div>

<!-- include jquery libraries -->
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"></script>
}