@model CourseSettingsViewModel

@{
    ViewData["Title"] = "Edit Permissions";
}

<form asp-action="AddTeacherByEmail">
    <h2>Пригласить преподавателя</h2>
    <label>Email:</label>
    <input id="email" name="email" type="text" /></td>
    
    <h1></h1>
    <p>
        <button type="submit" class="btn btn-primary">Отправить приглашение</button>
    </p>
    
</form>

<h2>Разрешения для "@Model.CourseName"</h2>

<form asp-action="UpdatePermissions">
    <input type="hidden" asp-for="CourseId" />
    <table class="table">
        <thead>
            <tr>
                <th>Преподователь</th>
                <th>Edit Course</th>
                <th>Add Students</th>
                <th>Remove Students</th>
                <th>Manage Content</th>
                <th>View Grades</th>
                <th>Edit Grades</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.TeacherPermissions.Count; i++)
            {
                <input asp-for="@Model.TeacherPermissions[i].TeacherId" type="hidden"></input>
                <input asp-for="@Model.TeacherPermissions[i].CourseId" type="hidden"></input>
                <tr>
                    <td>@await Component.InvokeAsync("TeacherDetails", new { id = @Model.TeacherPermissions[i].TeacherId })</td>
                    <td><input asp-for="@Model.TeacherPermissions[i].CanEditCourse" type="checkbox" /></td>
                    <td><input asp-for="@Model.TeacherPermissions[i].CanAddStudents" type="checkbox" /></td>
                    <td><input asp-for="@Model.TeacherPermissions[i].CanRemoveStudents" type="checkbox" /></td>
                    <td><input asp-for="@Model.TeacherPermissions[i].CanManageContent" type="checkbox" /></td>
                    <td><input asp-for="@Model.TeacherPermissions[i].CanViewGrades" type="checkbox" /></td>
                    <td><input asp-for="@Model.TeacherPermissions[i].CanEditGrades" type="checkbox" /></td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>